html {
  max-width: 1500px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #fff;
  color: darkslateblue;
  font-size: 15px;
}

.header-ttl {
  margin: 5px 0 0 20px;
  font-size: 24px;
  width: 80px;
  font-weight: bold;
}

.header-nav-item {
  display: inline-block;
  list-style: none;
  width: 100px;
  font-weight: bold;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

.article {
  position: relative;
  margin-top: 370px;
}

img {
  width: 50vw;
}

.item1 {
  width: 70vw;
  height: 160px;
  background-color: darkblue;
  margin-bottom: 40px;
}

.item2 {
  position: absolute;
  bottom: 80px;
  right: 0px;
}
